/* DataSearch.css */

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-section {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.search-label {
  flex: 1;
  margin-right: 20px;
}

.search-input, .search-button {
  padding: 10px;
  font-size: 16px;
  font-family: 'Your Preferred Font', sans-serif;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  border: 1px solid #ddd;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.error-message, .no-data-message {
  color: #ff0000;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Your Preferred Font', sans-serif;
}

.search-results {
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.result-list {
  list-style: none;
  padding: 0;
  margin-left: 480px;
  margin-top: -420px;
}

.result-list li {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.result-list li span {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.barcode-container, .qrcode-container, .product-description-container {
  position: fixed;
  margin-top: 30px;
}

.barcode-container {
  top: 350px;
  right: 380px;
}

.qrcode-container {
  top: 100px;
  right: 150px;
  padding: 20px;
}

.qrcode-image, .barcode-image {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.qrcode-image {
  width: 3cm;
  height: 3cm;
  background-color: white;
  padding: 5px;
}

.barcode-image {
  margin-top: 10px;
}

.product-description-container {
  top: 100px;
  right: 350px;
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}
