/* HomePage.css */

.home-container {
  text-align: center;
  margin: 20px;
}

h2 {
  color: #333;
}

.home-paragraph {
  color: #666;
}

nav {
  margin-top: 20px;
}

.home-ul {
  list-style: none;
  padding: 0;
}

.home-li {
  display: inline-block;
  margin-right: 20px;
}

.data-entry-box,
.product-types-box {
  border: 2px solid #3498db;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.home-link {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.home-link:hover {
  color: #2c3e50;
}
